@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to FeederService</h1>
</div>

<br>
<br>
<br>

<div class="row">
    <div class="col">
        <a href="" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"><i class="bi bi-plus-circle" style="font-size:20px"></i> AddFeeder</a>
    </div>
    <div class="col">
        <a href="" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"><i class="bi bi-calendar" style="font-size:20px"></i> TimeTable</a>
    </div>
    <div class="col">
        <a href="" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"><i class="bi bi-bookmark-plus" style="font-size:20px"></i> AddMarker</a>
    </div>
    <div class="col">
        <a href="" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"><i class="bi bi-binoculars" style="font-size:20px"></i> ViewLogs</a>
    </div>
    <div class="col">
        <a href="" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"><i class="bi bi-display" style="font-size:20px"></i> Monitoring</a>
    </div>
    <div class="col">
        <a href="" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"><i class="bi bi-controller style="font-size:20px"></i> Manual</a>
    </div>
</div>
